body {
  background: #36c;
background:
linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
#36c;
background-size: 15px 30px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.card-white {
  background-color:#CEEAF7;
  border: 4px dotted #8f7120;
  border-radius: 50px;
  box-shadow: 5px 5px 3px rgb(71, 73, 47);
  padding: 20px;
}

#circle_photo_shadowed {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 3px rgb(71, 73, 47);
  }

h1 {
  color: #8f7120;
  font-family: 'Merienda', cursive;
  text-align: center;
}
#introduction {
  text-align: center
}

#introduction p {
  color: #36c;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #8f7120;
  font-size: 20px;
  line-height: normal;
  font-family: 'Merienda', cursive;
}

a {
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
  color: #36c;
  font-weight: 400;
  font-size: 16px;
}
a:hover {
  color: rgb(223, 65, 188);
}

.list-inline li{
  display: inline-block;
  padding: 0px 20px;
}
